<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ResumeWebApp(Place Holder)</title>

    <link type="text/css" rel="stylesheet" href="../static/css/style.css">

    <!-- ** lib ** -->
    <!-- jquery -->
    <script type="module" src="../static/js/lib/jquery-3.3.1.min.js"></script>
    <!-- vue -->
    <!-- <script type="module" src="../static/js/lib/vue-2.6.8.min.js"></script> -->
    <!-- ** lib ** -->

    <script type="module" src="../static/js/index.js"></script>

</head>

<body>

<div class="navbar">
    <a id="home" href="#home">Home</a>
    <a id="news" href="#news">News</a>
    <a id="contact" href="#contact">Contact</a>
    <a id="about" href="#about">About</a>
</div>

<div style="width: 100%; height: 100%">
    <page id="home">
        <div style="width: 100%; height: 100%; overflow: hidden;">
            <div class="slideshow">
                <div class="slide active" style="background-image: url('../static/img/code.png');"></div>
                <div class="slide" style="background-image: url('../static/img/Untitled.png')"></div>
                <div class="slide" style="background-image: url('../static/img/code.png')"></div>
            </div>
        </div>
    </page>

    <page id="about">
        <div class="about">

            <h1>Hi There My Name Is
                <name>Lucas</name>
                <name>Borowiecki</name>
                !
            </h1>

            <h2 style="color: #e9e504">And This Is My Website...</h2>

            <p class="intro">
                Hello This is an about me, cool ain't it? <br>
                aaaa<br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </p>

        </div>
    </page>

    <button class="upbutton">

    </button>

    <button style="position: absolute; left: 100px; top: 100px; width: 100px; height: 100px;"></button>
</div>

</body>
</html>
